{
  "printWidth": 86,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "quoteProps": "preserve",
  "trailingComma": "all",
  "endOfLine": "auto",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
